{% if is_granted('ROLE_USER') %}
{% trans_default_domain 'FOSUserBundle' %}


    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{ path('homepage') }}">{{ 'app.title'|trans({}, 'FOSUserBundle')}}</a>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav">
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            <span>
                                <img class="img-responsive navigation-photo" src="{{ asset('uploads/images/profile/' ~ app.user.photo) }}" alt="photo de profil">
                            </span>
                              {{ app.user.username|capitalize }}
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="{{ path('fos_user_override') }}">
                                    <span class="glyphicon glyphicon-user"></span>
                                    {{ 'app.user.profile'|trans({}, 'FOSUserBundle')}}
                                </a>
                            </li>
                            <li>
                                <a href="{{ path('fos_user_security_logout') }}">
                                    <span class="glyphicon glyphicon-log-in"></span>
                                    {{ 'layout.logout'|trans({}, 'FOSUserBundle')}}
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
{% endif %}