{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/editCont.css') }}">
 {{ form_stylesheet(edit_form) }}
{% endblock stylesheets %}

{% block container %}
    <div class="container">

        {% block body %}

            <div class="row page-header">
                <h1 class="text-center">
                    {{ 'editer.contenu'|trans({}, 'FOSUserBundle')}}
                </h1>
            </div>

            {{ form_start(edit_form) }}
                <div class="row thumbnail content-thumbnail">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="content center-block">
                                {% if content.brochure %}
                                    <img id="image" class="img-responsive image-edit center-block" src="{{ asset('uploads/images/content/' ~ content.brochure) }}" alt="image du contenu">
                                    <div class="middle">
                                        <div class="text">
                                            Modifier l'image
                                        </div>
                                    </div>
                                {% else %}
                                    <div>
                                        <div class="text-center">
                                            <button type="button" id="btnImage" class="btn btn-info btn-lg">
                                                Ajouter une image
                                            </button>
                                            <div id="imageAdd"></div>
                                            <div id="texte"></div>
                                        </div>
                                    </div>
                                {% endif %}
                            </div>
                            {{ form_widget(edit_form.brochure, { 'id': 'inputImg', 'attr': {'class': 'hidden'} }) }}
                        </div>
                        <div class="col-lg-6">
                            <div class="title-content">
                                {{ form_label(edit_form.title, 'Titre du contenu' ) }}
                                {{ form_widget(edit_form.title, { 'attr' : {'class': 'form-control'} }) }}
                            </div>
    
                            <div class="desc-content">
                                {{ form_label(edit_form.text, 'Description du contenu') }}
                                {{ form_widget(edit_form.text, { 'attr' : {'class': 'form-control'} }) }}
                            </div>
                            
                            <div class="note-content" id="noteId">
                                {{ form_label(edit_form.note, 'Note du contenu' ) }}
                                <span id="icon"></span>
                                {{ form_widget(edit_form.note, { 'id': 'note', 'attr' : {'class': 'form-control slider'} }) }}
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="date-start-content">
                                {{ form_label(edit_form.dateStart, 'Date de début') }}
                                {{ form_widget(edit_form.dateStart, {'id': 'dateStart', 'attr' : {'class': 'form-control'} }) }}
                            </div>
                            <div class="date-end-content">
                                {{ form_label(edit_form.dateEnd, 'Date de fin') }}
                                {{ form_widget(edit_form.dateEnd, {'id': 'dateEnd', 'attr' : {'class': 'form-control'} }) }}
                            </div>
    
                            <div class="categorie-content">
                                {{ form_label(edit_form.categorie, 'Catégorie du contenu') }}
                                {{ form_widget(edit_form.categorie, { 'attr' : {'class': 'form-control'} }) }}
                            </div>
                        </div>
                    </div>
                    <div class="row content-submit">
                        <div class="col-lg-6">
                            <a class="btn btn-primary btn-block content-btn" href="{{ path('homepage') }}">
                                <i class="fa fa-arrow-circle-left"></i>
                                Back to the homepage
                            </a>
                        </div>
                        <div class="col-lg-6">
                            <button class="btn btn-success btn-block content-btn" type="submit">
                                <i class="fa fa-check"></i>
                                 {{ 'editer'|trans({}, 'FOSUserBundle')}}
                            </button>
                        </div>
                    </div>
                </div>
                
            {{ form_end(edit_form) }}
        {% endblock %}

    </div>
{% endblock container %}

{% block javascripts %}
    <script src="{{ asset('js/editContent.js') }}"></script>
    {{ form_javascript(edit_form) }}
    <script>
        $('#dateStart').datetimepicker({
            language: 'fr',
            weekStart: 0,
            format: 'dd/mm/yyyy',
            startView: 'year',
            autoclose: true,
            todayBtn: true,
            minView: "month",
            maxView: "decade"
        });
        $('#dateEnd').datetimepicker({
            language: 'fr',
            weekStart: 0,
            format: 'dd/mm/yyyy',
            startView: 'year',
            autoclose: true,
            todayBtn: true,
            minView: "month",
            maxView: "decade"
        });
    </script>
{% endblock javascripts %}
